body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #282c34;
    background-color: white;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.btn-row {
    display: flex;
}

.btn {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 12px solid black;
    cursor: pointer;
    border-radius: 30px;
}

.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }

.flash {
    background-color: rgb(246, 18, 155);
}

.userflash {
    background-color: rgb(22, 223, 245);
}